.input{
  border: 1px solid #111;
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 11px 26px;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: none;
  transition: .3s;
  box-sizing: border-box;
  line-height: 1.65;
  font-size: 15px;
  @media (min-width: 768px) {
    width: 30%;
  }
}
.input::placeholder{
  text-transform: uppercase;
}
