
.page {
  width: 100%;
}

.page-enter-active {
  position: absolute;
  animation: fade-in 1s forwards;
}

.page-exit-active {
  overflow: hidden;
  position: absolute;
  animation: fade-out 1s forwards;
}

@keyframes fade-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


//.page {
//  width: 100%;
//}
//
//.page-enter-active {
//  position: absolute;
//  animation: fade-in 1s forwards;
//}
//
//.page-exit-active {
//  position: absolute;
//  animation: fade-out 1s forwards;
//}
//
//@keyframes fade-in {
//  0% {
//    transform: translateX(-100%);
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//    transform: translateX(0);
//  }
//
//}
//
//@keyframes fade-out {
//  0% {
//    opacity: 1;
//    transform: translateX(0%);
//  }
//  100% {
//    opacity: 0;
//    transform: translateX(100%);
//  }
//}


//.page {
//  width: 100%;
//}
//
//.page-enter-active {
//  position: absolute;
//  animation: fade-in 1s forwards;
//}
//
//.page-exit-active {
//  position: absolute;
//  animation: fade-out 1s forwards;
//}
//
//@keyframes fade-in {
//  0% {
//    transform: translateY(-100%);
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//    transform: translateY(0);
//  }
//
//}
//
//@keyframes fade-out {
//  0% {
//    opacity: 1;
//    transform: translateY(0%);
//  }
//  100% {
//    opacity: 0;
//    transform: translateY(100%);
//  }
//}

